.add-form, .update-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.add-heading , .update-heading{
    margin-top: 100px;
    margin-left: 200px;
}

label
{
    font-weight: bolder;
    margin-right:40px ;
}

input[type=text], select {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 10px solid black;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px;
    margin-top: 40px;
    border: 10px solid black;
    border-radius: 4px;
    cursor: pointer;
}

